{% extends "BlogAppBundle::index.html.twig" %}

{% block blog %}

    <div class="row">
        {% for article in articles|slice(min, max) %}
            {% if article.enabled == true %}
                <div class="col-xs-12 col-md-6">

                    <article class="thumbnail">
                        <a href="{{ path('article', {'id': article.id}) }}">
                            <img src="{{ article.picture }}" class="img-responsive" alt="{{ article.name }}">
                            <h2>{{ article.name }}</h2>
                        </a>
                        <p><a href="{{ path('category', {'name': article.category }) }}">{{ article.category }}</a></p>
                        <time>{{ article.updatedAt|date("d/m/Y") }}</time>
                        <p>{{ article.content|truncate(180) }}</p>
                        <p>
                            {% for tag in article.tag %}
                                <a href="{{ path('tag', {'name': tag}) }}" class="btn btn-primary btn-xs">{{ tag }}</a>
                            {% endfor %}
                        </p>
                        <p>Autheur: {{ article.users }}</p>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            {% set nbPage = (articles|length/4)+1 %}
            {% if nbPage != 1 %}
                {% for page in 1..nbPage %}
                    <li><a href="{{ path('homePage', {'id': page }) }}">{{ page }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endblock blog %}