<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passionate Mangas</title>
    <!-- CDN bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% stylesheets 'bundle/blogapp/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homePage') }}">Passionate Mangas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% if articles is not defined %}
                    <li><a href="{{ path('homePage') }}">Home </a></li>
                {% endif %}
                <li><a href="{{ path('about') }}">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">API<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('api_article') }}">Article</a></li>
                        <li><a href="{{ path('api_category') }}">Category</a></li>
                        <li><a href="{{ path('api_tag') }}">Tag</a></li>
                        <li><a href="{{ path('api_user') }}">User</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
                <li><a href="#">Contact </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
    <div class="container">
        {% if articles is defined %}
            <h1>Articles</h1>
        {% endif %}
        {% if article is defined %}
            <h1>{{ article.name }}</h1>
        {% endif %}
        {% if category is defined %}
            <h1>Categorie: {{ name }}</h1>
        {% endif %}
        {% if tags is defined %}
            <h1>Genre: {{ name }}</h1>
        {% endif %}
    </div>
</div>

<div class="container">